dev/com.ibm.ws.st.core_tests/resources/sampleTesting/JAXWSEJBSample/ws/JAXWSEJBSample_WEB/WebContent/WEB-INF/wsdl/UserQueryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- 
 COPYRIGHT LICENSE: This information contains sample code provided in source code form.
 You may copy, modify, and distribute these sample programs in any form without payment
 to IBM for the purposes of developing, using, marketing or distributing application
 programs conforming to the application programming interface for the operating platform
 for which the sample code is written.

 Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE ON 
 AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING,
 BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY,
 SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND ANY WARRANTY OR
 CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
 INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR OPERATION OF
 THE SAMPLE SOURCE CODE. IBM HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT,
 UPDATES, ENHANCEMENTS OR MODIFICATIONS TO THE SAMPLE SOURCE CODE.

 (C) Copyright IBM Corp. 2001, 2013.
 All Rights Reserved. Licensed Materials - Property of IBM.
-->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:27 AM(foreman)-. -->
<definitions targetNamespace="http://ejbwebservices.ejb.jaxws.sample.wasdev/" name="UserQueryService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejbwebservices.ejb.jaxws.sample.wasdev/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ejbwebservices.ejb.jaxws.sample.wasdev/" schemaLocation="UserQueryService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="UserNotFoundException">
    <part name="fault" element="tns:UserNotFoundException"/>
  </message>
  <message name="listUsers">
    <part name="parameters" element="tns:listUsers"/>
  </message>
  <message name="listUsersResponse">
    <part name="parameters" element="tns:listUsersResponse"/>
  </message>
  <portType name="UserQuery">
    <operation name="getUser">
      <input wsam:Action="http://ejbwebservices.ejb.jaxws.sample.wasdev/UserQuery/getUserRequest" message="tns:getUser"/>
      <output wsam:Action="http://ejbwebservices.ejb.jaxws.sample.wasdev/UserQuery/getUserResponse" message="tns:getUserResponse"/>
      <fault message="tns:UserNotFoundException" name="UserNotFoundException" wsam:Action="http://ejbwebservices.ejb.jaxws.sample.wasdev/UserQuery/getUser/Fault/UserNotFoundException"/>
    </operation>
    <operation name="listUsers">
      <input wsam:Action="http://ejbwebservices.ejb.jaxws.sample.wasdev/UserQuery/listUsersRequest" message="tns:listUsers"/>
      <output wsam:Action="http://ejbwebservices.ejb.jaxws.sample.wasdev/UserQuery/listUsersResponse" message="tns:listUsersResponse"/>
    </operation>
  </portType>
  <binding name="UserQueryPortBinding" type="tns:UserQuery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserQueryService">
    <port name="UserQueryPort" binding="tns:UserQueryPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

